footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: dotted #FD2D01 1px;
    background-color: #4E5166;
    flex-wrap: wrap;
}

footer a,
footer li {
    text-decoration: none;
    color: #FFD7D7;
}

footer a:hover,
footer li:hover {
    text-decoration: none;
    color: #FD2D01;
}


footer a:active {
    color: #FD2D01;

}

footer ul {
    margin-top: 15px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-reseaux li,.footer-nav li {
    padding: 2%;
    margin: 2%;

}

footer h4 {
    color: #FFD7D7;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.container-logo-footer {
    width: 100%;
}

.logo-footer {
    border: solid red 2px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    object-fit: cover;

}

/*queries tablette*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    

    footer{
        display: flex;
        flex-direction: column;
    }

    footer ul{
        margin: 1% auto;
        
    }

    footer h4{
        padding: 1%;
        text-decoration: none;
        border-bottom: double #FD2D01 3px;
    }

    footer li{
        text-decoration: underline #FFD7D7;
        padding: 0;
    }

    footer a:active{
        color: #FFD7D7;
    }

    .footer-reseaux li,.footer-nav li {     
        padding: 0;
    }

}

/*queries smartphone*/

@media screen and (max-width: 768px) {
    footer{
        display: flex;
        flex-direction: column;
    }

    footer ul{
        margin: 1% auto;
        width: 100%;
        
    }

    footer h4{
        border-bottom: double #FD2D01 3px;
        padding: 1%;
        text-decoration: none;
    }

    .footer-reseaux li,.footer-nav li {     
        padding: 0;
        margin: 1%;
    }

    footer li{
        margin: 0;
    }

    footer a:active{
        color: #FFD7D7;
    }
}