/*● Primaire : #FD2D01
● Secondaire : #FFD7D7
● Tertiaire : #4E5166*/

.posts-flow-container{
    border: solid red 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFD7D7;
}

.posts-flow-subcontainer{
    border: solid black 2px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.posts-flow-display{
    border: solid green 2px;
    width: 80%;
    margin-top: 2%;
   
}
.card{
    background-color: #FFD7D7;
    border: double #FD2D01 3px;
}

/*gestion en tête de Card*/

.header-card{
    display: flex;
    background-color: white;
    border-bottom: double #FD2D01 3px;
}

.date-style-handler{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: double #FD2D01 3px;
}

.post-title{
    border-bottom: double #FD2D01 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 1%;
    margin-top: 1%;
}

.date-style-handler span{
    padding: 1% 0;
}

.userName-card{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;


}

/*Gestion body Card*/

.body-card{
    height: 15rem;
    width: 80%;
    margin: 2% auto;
    border: double #FD2D01 3px;
   

}

.post-imageUrl{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Gestion footer Card*/
.footer-card{
    padding: 2% 1%;
    display: flex;
    justify-content: flex-end;
    background-color: #FFD7D7;
    border-top: double #FD2D01 3px;
}

.footer-card span{
    margin-left:2%;
    position: relative;

}

#post-like-number{
    width: 1rem;
    height: 1rem;
    position: absolute;
    transform: translate(-30%,50%);
    color: #FFD7D7;
    font-weight: 900;
    border-radius: 50%;
    border: solid #FD2D01 1px;
    background-color: #4E5166;
}

.footer-card button{
    width: 1.5rem;
    height:1.5rem;
}