/*● Primaire : #FD2D01
● Secondaire : #FFD7D7
● Tertiaire : #4E5166*/

.posts-flow-container{
    border: solid red 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFD7D7;
}

.posts-flow-subcontainer{
    border: solid black 2px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    font-weight: 900;
}

textarea{
    font-weight: 900;
}

.posts-flow-display{
    border: solid green 2px;
    width: 80%;
   
}
.card{
    background-color: #FFD7D7;
    border: double #FD2D01 3px;
    margin-top: 4%;
}
/*Gestion post edit*/

.post-edit{
    display: flex;
    flex-direction: column;
    border: double #FD2D01 3px;
    width: 100%;
}

.post-edit h3{
    background-color: white;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    color: #FD2D01;
    border-bottom: double #FD2D01 3px;
    width: 100%;
    padding: 2%;
    text-decoration: underline #FD2D01 2px;
}

.post-edit label{
    border:dotted #FD2D01 0.125rem;
    margin: 0 auto;
    padding: 1%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-edit{
    display: flex;
    align-items: center;
    margin: 2% auto;
    width: 80%;
    padding: 2%;
    border: double #FD2D01 3px;
    word-wrap: break-word;
    max-width: 80%;
    padding: 0.15rem;

}

.imageUrl-pic{
    margin: 2% auto;
    width: 50%;
    padding: 2%;
    border: double #FD2D01 3px;
}

.textContent-edit{
    max-width: 100%;
    min-width: 100%;
    max-height: 10rem;
    min-height: 2rem;
    margin: 2% auto;
    padding: 0.5rem;
}

.submit-post{
    width: 15%;
    margin: 2% auto;
    padding: 1%;
    border-radius: 8%;
    box-shadow: 2px 2px 1px rgba(51, 51, 51, 0.418);
    font-size: medium;
    font-weight: bold;
    color: #FD2D01;
    border: double #FD2D01 3px;
    cursor: pointer;

}

;.submit-post:active {
    color: #4E5166;
}





/*gestion en tête de Card*/

.header-card{
    display: flex;
    background-color: white;
    border-bottom: double #FD2D01 3px;
}

.date-style-handler{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: double #FD2D01 3px;
}

.post-title{
    border-bottom: double #FD2D01 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 2%;
    background-color: white;
}

.post-title h3{
    color: #FD2D01;
}



.date-style-handler span{
    padding: 3%;
    width: 100%;
    color: #FD2D01;
    font-weight: 900;
}

.userName-card{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FD2D01;
    text-decoration: underline #FD2D01 2px;


}

.textContent-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-bottom: double #FD2D01 3px;

}
/*Gestion body Card*/

.body-card{
    height: 15rem;
    width: 80%;
    margin: 2% auto;
    border: double #FD2D01 3px;
   

}

.post-imageUrl{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Gestion footer Card*/
.footer-card{
    padding: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFD7D7;
    border-top: double #FD2D01 3px;
}

.footer-card ul{
    display: flex;
    width: 100%;
   border-bottom: double #FD2D01 3px;
    flex-direction: row;
    justify-content: flex-end;
}

.footer-card li{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.footer-card span{
    margin-left:2%;
    position: relative;

}

#post-like-number{
    width: 1rem;
    height: 1rem;
    position: absolute;
    transform: translate(-30%,50%);
    color: #FFD7D7;
    font-weight: 900;
    border-radius: 50%;
    border: solid #FD2D01 1px;
    background-color: #4E5166;
}

.footer-card button{
    width: 1.5rem;
    height:1.5rem;
}

.comments{
    border: solid yellow 3px;
}

/*.home-page-container{
    border: solid black 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.posts-flow-container{
    border: solid red 2px;
    width:100vw;
    height:15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.posts-flow-display{
    border: solid green 2px;
    width:100vw;
    height:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}*/