/*● Primaire : #FD2D01
● Secondaire : #FFD7D7
● Tertiaire : #4E5166*/

.posts-flow-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFD7D7;
}

.posts-flow-subcontainer{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    font-weight: 900;
}

textarea{
    font-weight: 900;
}

.posts-flow-display{
    width: 80%;
   
}
.card{
    background-color: #FFD7D7;
    border: double #FD2D01 3px;
    margin-top: 4%;
}
/*Gestion post edit*/

.post-edit{
    display: flex;
    flex-direction: column;
    border: double #FD2D01 3px;
    width: 100%;
}

.post-edit h3{
    background-color: white;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    color: #FD2D01;
    border-bottom: double #FD2D01 3px;
    width: 100%;
    padding: 2%;
    text-decoration: underline #FD2D01 2px;
}

.post-edit label{
    border:dotted #FD2D01 0.125rem;
    margin: 0 auto;
    padding: 1%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-edit{
    display: flex;
    align-items: center;
    margin: 2% auto;
    width: 80%;
    padding: 2%;
    border: double #FD2D01 3px;
    word-wrap: break-word;
    max-width: 80%;
    padding: 0.15rem;

}

.imageUrl-pic{
    margin: 2% auto;
    width: 50%;
    padding: 2%;
    border: double #FD2D01 3px;
}

.textContent-edit{
    max-width: 100%;
    min-width: 100%;
    max-height: 10rem;
    min-height: 2rem;
    margin: 2% auto;
    padding: 0.5rem;
}

.submit-post{
    width: 20%;
    margin: 2% auto;
    padding: 1%;
    border-radius: 8%;
    box-shadow: 2px 2px 1px rgba(51, 51, 51, 0.418);
    font-size: medium;
    font-weight: bold;
    color: #FD2D01;
    border: double #FD2D01 3px;
    cursor: pointer;

}

;.submit-post:active {
    color: #4E5166;
}





/*gestion en tête de Card*/

.header-card{
    display: flex;
    background-color: white;
    border-bottom: double #FD2D01 3px;
}

.date-style-handler{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: double #FD2D01 3px;
}

.post-title{
    border-bottom: double #FD2D01 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2%;
    background-color: white;
}

.post-title h3{
    color: #FD2D01;
}



.date-style-handler span{
    padding: 3%;
    width: 100%;
    color: #FD2D01;
    font-weight: 900;
}

.userName-card{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FD2D01;
    text-decoration: underline #FD2D01 2px;


}

.textContent-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    border-bottom: double #FD2D01 3px;

}
/*Gestion body Card*/

.body-card{
    height: 25rem;
    width: 80%;
    margin: 2% auto;
    border: dotted #FD2D01 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-imageUrl{
    max-width: 100%;
    height: auto;
    max-height: 100% ;
    object-fit: cover;
}

/*Gestion footer Card*/
.footer-card{
    padding: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFD7D7;
    border-top: double #FD2D01 3px;
    border-bottom: double #FD2D01 3px;
}

.footer-card ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

.footer-card li{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.footer-card span{
    margin-left:2%;
    position: relative;

}

#post-like-number,#comment-like-number{
    width: 1.2rem;
    height: 1.2rem;
    transform: translate(-30%,50%);
    color: #FFD7D7;
    font-weight: 900;
    border-radius: 50%;
    border: solid #FD2D01 1px;
    background-color: #4E5166;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-card button{
    width: 1.5rem;
    height:1.5rem;
}


.comments{
    border: solid yellow 3px;
}

.title-btn-edit-container{
    border:double #FD2D01 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
}


.title-btn-edit-subcontainer{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.title-btn-edit{
    margin: 2% auto;
    padding: 1%;
    border-radius: 8%;
    box-shadow: 2px 2px 1px rgb(51 51 51 / 42%);
    font-size: small;
    font-weight: bold;
    color: #FD2D01;
    border: double #FD2D01 3px;
    cursor: pointer;
}

.image-update{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    border-bottom: double #FD2D01 3px;
}

.title-update,.text-update,.image-update{
    color:#FD2D01;
    padding: 2%;
    border-bottom: double #FD2D01 3px;

}

#title-field-edit{
    display: flex;
    align-items: center;
    margin: 2% auto;
    width: 80%;
    padding: 2%;
    border: double #FD2D01 3px;
    word-wrap: break-word;
    max-width: 80%;
    padding: 0.15rem;
}

#text-update{
    max-width: 20rem;
    min-width: 15rem;
    max-height: 10rem;
    min-height: 2rem;
    margin: 2% auto;
    padding: 0.5rem;
}

.footer-update{
    display: flex;
    border: solid red 2px;
}


.image-pic{
    display: flex;
}

.delete-image-post-title{
    margin: 2% 0;
    border-bottom: double #FD2D01 3px ;
    color: #FD2D01;
}


.delete-image-post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
}

#fa-xmark{
    width: 1.5rem;
    min-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fa-xmark:hover{
    width: 1.5rem;
    min-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}


#fa-xmark:active{
    width: 1.5rem;
    min-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: #4E5166;
}

.comments{
    display: flex;
    flex-direction: column;
}

.display-relative-comments{
    display: flex;
    justify-content: space-between;
    min-height: 2rem;
    cursor: pointer;

}


.toggle-comment-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.toggle-comment-button{
    width: 2rem;
    height: 2rem;
    
    border: solid red 2px;
}

.edit-comments{
    border-bottom: double #4E5166 5px;
}

.display-one-comment{
    border: double #FD2D01 3px;
    display: flex;
    justify-content: space-between ;
    padding: 1% 0;
    margin: 2% 0;
    
}

.display-one-comment p{
    padding: 1.235rem;
    
}

.comment-actions{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.submit-comment{
    border: solid orangered 2px;
    background-color:white;
    color: #FD2D01;
    
    box-shadow: 2px 2px 1px rgb(51 51 51 / 42%);
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    padding: 1%;
    text-align: center;
}

#update-comment-content{
border: solid red 2px;
width: 80%;
min-height: 2rem;
max-height: 10rem;
max-width: 100%;
min-width: 70%;
}

.comment-date-handler{
    width: 100%;
    margin: 2% 0;
    border: solid red 2px;
    display: flex;
    justify-content: space-between;
    color: #FD2D01;
    background-color: #fff;
}

#content{
    max-width: 100%;
    min-width: 100%;
    max-height: 10rem;
    min-height: 2rem;
    margin: 2% 0;
}

.valid-edit-comment{
    display: flex;
    justify-content: center;
    align-items: center;

}

#no-likes{
    display: none;
}

#no-likes::after{
    display: none;
    content: '';
}

.fa-heart{  
    max-height: 100%;
}

#comment-like{
    max-height: 1.5rem;
    display: flex;
    justify-content: center;
}

.update-text-date-container{
    width: 80%;
    max-width: 80%;
}

.comment-date-style-handler{
    display: flex;
    flex-direction: column;
    color: #FD2D01;
    background-color: #fff;
}

/*queries tablette*/
@media screen and (min-width: 768px) and (max-width: 992px) {

.posts-flow-display{
    width: 100%;
}
}

/*queries smartphone*/
@media screen and (max-width: 768px) {
    .posts-flow-subcontainer{
        width: 100%;
    }

    .posts-flow-display{
        width: 100%;
    }

    .body-card{
        height: 15rem;
        width: 100%;
    }
    .post-imageUrl{
        height: 100%;
        width: 100%;
    }
}


