* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #4E5166;
}

.logo {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD7D7;
    border-bottom: dotted #FD2D01 1px;


}
.logo-container{
    margin: 0 auto;
    width: 100%;
 }
 

.login-nav {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFD7D7;
    border-bottom: dotted #FD2D01 1px;
}


.orange-groupo-nav {
    height: 50%;
}

.redirect {
    display: flex;
    justify-content: center;
    width: 100%;

}

.orange-line {
    border: #FD2D01 dotted 2px;
    width: 100%;
    height: 0;
    margin-top: 60px;
    transform: translateY(-2px);



}

.orange-line-container {
    width: 100%;
    height: 120px;


}

.fa-solid {
    color: #FD2D01;
    ;
}

.fa-solid:active {
    color: #4E5166;
}

/*queries tablette*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    .nav-container{
        display: flex;
        flex-direction: column;
    }

    .login-nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 3rem;
    }

    .orange-groupo-nav{
        margin: 0 auto;
      
    }

    .logo-container{
       margin: 0 auto;
       width: 100%;
    }
    .logo{
        height: 8rem;
    }
 
    .nav-container{
        height: 19rem;
    }
    

   

}

/*queries smartphone*/

@media screen and (max-width: 768px) {
    .nav-container{
        display: flex;
        flex-direction: column;
    }

    .login-nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 3rem;
    }

    .orange-groupo-nav{
        margin: 0 auto;
      
    }

    .logo-container{
       margin: 0 auto;
       width: 100%;
    }
    .logo{
        height: 8rem;
    }
 
    .nav-container{
        height: 19rem;
    }
   
       .logo img{
        width: 90%;
        height: auto;
    }


}